{% extends 'pages/layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="max-w-2xl mx-auto mt-10 p-6 bg-white shadow-md rounded">
    <h1 class="text-3xl font-bold mb-4 text-center">Bienvenue sur votre profil</h1>
    <p class="text-gray-700 text-lg text-center">Voici les informations de votre profil.</p>
</div>
{% endblock %}

