<nav class="navbar">
	<ul >
		<li>
			<a href="/">Accueil</a>
		</li>

        <li>
			<a href="/">Accueil</a>
		</li>

        <li>
			<a href="/">Accueil</a>
		</li>

        <li>
			<a href="/">Accueil</a>
		</li>

	</ul>
</nav>


